In [1]:
import pandas as pd
import plotly.express as px

# Reading Proccessed data

In [5]:
city_info = pd.read_csv('./Datak/Processed_data/city_info.csv')
df = pd.read_pickle('./Datak/Processed_data/compiled_data.pkl')

In [6]:
df

,Unnamed: 0,ID,Date,tmax,tmin,prcp,Name,Lat,Lon
0,0,USC00042863,1894-01-01,60.0,41.0,0.00,Reno,39.4839,-119.7711
1,1,USC00042863,1894-01-02,58.0,50.0,0.40,Reno,39.4839,-119.7711
2,2,USC00042863,1894-01-03,57.0,42.0,0.00,Reno,39.4839,-119.7711
3,3,USC00042863,1894-01-04,53.0,42.0,0.28,Reno,39.4839,-119.7711
4,4,USC00042863,1894-01-05,50.0,38.0,0.00,Reno,39.4839,-119.7711
...,...,...,...,...,...,...,...,...,...
10475909,10475909,USW00094973,2021-12-27,32.0,1.2,0.22,Cheyenne,41.1519,-104.8061
10475910,10475910,USW00094973,2021-12-28,22.1,-5.8,0.06,Cheyenne,41.1519,-104.8061
10475911,10475911,USW00094973,2021-12-29,20.1,-4.9,0.00,Cheyenne,41.1519,-104.8061
10475912,10475912,USW00094973,2021-12-30,NaN,NaN,NaN,Cheyenne,41.1519,-104.8061
10475913,10475913,USW00094973,2021-12-31,NaN,NaN,NaN,Cheyenne,41.1519,-104.8061

# Plotting the station points in different types of map for analyzing the functionality of each strategy

In [7]:
city_info.head()

   Unnamed: 0      Name           ID      Lat       Lon
0           0    Lander  USW00024021  42.8153 -108.7261
1           1    Lander  USW00024018  42.8153 -108.7261
2           2  Cheyenne  USW00014897  41.1519 -104.8061
3           3  Cheyenne  USW00094973  41.1519 -104.8061
4           4    Wausau  USW00014991  44.9258  -89.6256