In [1]:
import pandas as pd
import os
import folium

In [2]:
folder = '/home/jibo16/Desktop/Hermes-storeLoc-Map/PrecipMap/Datak/7890488'

filelist = [file for file in os.listdir(folder) if file.endswith('csv')]


for file in filelist:
    '''
    This iteration converts csv's to df's and gives the df the same name as the csv file
    '''
    exec("%s = pd.read_csv('%s',on_bad_lines='skip')" % (file.split('.')[0], os.path.join(folder,file)))

In [3]:
sheets=[]    
for var in dir():
    if isinstance(locals()[var], pd.core.frame.DataFrame):
        sheets.append(var)

In [5]:
for i in sheets:
    pd.Series(i)['id'] = f'{i}'

In [24]:
for i in sheets:
    pd.DataFrame(eval(i))['ID'] = f'{i}'

In [27]:
USW00003872

       Unnamed: 0        Date  tmax  tmin  prcp           ID
0               1  1894-01-01   NaN   NaN  0.00  USW00003872
1               2  1894-01-02   NaN   NaN  0.00  USW00003872
2               3  1894-01-03   NaN   NaN  0.00  USW00003872
3               4  1894-01-04   NaN   NaN  0.00  USW00003872
4               5  1894-01-05   NaN   NaN  0.00  USW00003872
...           ...         ...   ...   ...   ...          ...
46746       46747  2021-12-27  61.0  44.1  0.00  USW00003872
46747       46748  2021-12-28  64.0  46.9  0.14  USW00003872
46748       46749  2021-12-29  63.0  48.9  0.57  USW00003872
46749       46750  2021-12-30  55.0  46.9  0.01  USW00003872
46750       46751  2021-12-31  59.0  42.1  0.02  USW00003872

[46751 rows x 6 columns]

In [17]:
alldfs = [var for var in dir() if isinstance(eval(var), pd.core.frame.DataFrame)]

In [18]:
alldfs

['USC00042863',
 'USC00166584',
 'USC00280734',
 'USC00286055',
 'USC00356749',
 'USC00380072',
 'USW00003017',
 'USW00003103',
 'USW00003145',
 'USW00003171',
 'USW00003812',
 'USW00003813',
 'USW00003820',
 'USW00003822',
 'USW00003856',
 'USW00003859',
 'USW00003860',
 'USW00003872',
 'USW00003904',
 'USW00003927',
 'USW00003937',
 'USW00003940',
 'USW00003945',
 'USW00003947',
 'USW00003953',
 'USW00003963',
 'USW00003965',
 'USW00004853',
 'USW00012815',
 'USW00012816',
 'USW00012835',
 'USW00012836',
 'USW00012839',
 'USW00012842',
 'USW00012844',
 'USW00012921',
 'USW00012923',
 'USW00012924',
 'USW00012960',
 'USW00013722',
 'USW00013733',
 'USW00013736',
 'USW00013737',
 'USW00013739',
 'USW00013740',
 'USW00013743',
 'USW00013781',
 'USW00013833',
 'USW00013838',
 'USW00013865',
 'USW00013866',
 'USW00013873',
 'USW00013874',
 'USW00013876',
 'USW00013881',
 'USW00013882',
 'USW00013883',
 'USW00013886',
 'USW00013889',
 'USW00013893',
 'USW00013895',
 'USW00013896',
 'USW00013897',
 'USW00013899',
 'USW00013942',
 'USW00013957',
 'USW00013958',
 'USW00013962',
 'USW00013963',
 'USW00013964',
 'USW00013967',
 'USW00013968',
 'USW00013970',
 'USW00013971',
 'USW00013984',
 'USW00013985',
 'USW00013994',
 'USW00013995',
 'USW00013996',
 'USW00014710',
 'USW00014711',
 'USW00014733',
 'USW00014735',
 'USW00014739',
 'USW00014742',
 'USW00014745',
 'USW00014750',
 'USW00014753',
 'USW00014764',
 'USW00014768',
 'USW00014778',
 'USW00014792',
 'USW00014821',
 'USW00014827',
 'USW00014836',
 'USW00014837',
 'USW00014839',
 'USW00014840',
 'USW00014842',
 'USW00014845',
 'USW00014847',
 'USW00014848',
 'USW00014860',
 'USW00014894',
 'USW00014895',
 'USW00014897',
 'USW00014898',
 'USW00014913',
 'USW00014914',
 'USW00014916',
 'USW00014918',
 'USW00014920',
 'USW00014922',
 'USW00014923',
 'USW00014925',
 'USW00014926',
 'USW00014929',
 'USW00014933',
 'USW00014935',
 'USW00014936',
 'USW00014939',
 'USW00014941',
 'USW00014942',
 'USW00014943',
 'USW00014944',
 'USW00014972',
 'USW00014990',
 'USW00014991',
 'USW00023009',
 'USW00023044',
 'USW00023047',
 'USW00023050',
 'USW00023051',
 'USW00023065',
 'USW00023066',
 'USW00023154',
 'USW00023155',
 'USW00023160',
 'USW00023179',
 'USW00023183',
 'USW00023185',
 'USW00023188',
 'USW00023271',
 'USW00023275',
 'USW00024011',
 'USW00024018',
 'USW00024021',
 'USW00024023',
 'USW00024028',
 'USW00024032',
 'USW00024121',
 'USW00024127',
 'USW00024128',
 'USW00024131',
 'USW00024143',
 'USW00024144',
 'USW00024149',
 'USW00024153',
 'USW00024155',
 'USW00024157',
 'USW00024163',
 'USW00024213',
 'USW00024221',
 'USW00024232',
 'USW00024233',
 'USW00024257',
 'USW00024286',
 'USW00053920',
 'USW00093037',
 'USW00093058',
 'USW00093134',
 'USW00093193',
 'USW00093721',
 'USW00093729',
 'USW00093805',
 'USW00093812',
 'USW00093815',
 'USW00093817',
 'USW00093819',
 'USW00093820',
 'USW00093821',
 'USW00093822',
 'USW00093824',
 'USW00093842',
 'USW00093874',
 'USW00093988',
 'USW00094008',
 'USW00094012',
 'USW00094014',
 'USW00094040',
 'USW00094129',
 'USW00094224',
 'USW00094236',
 'USW00094298',
 'USW00094728',
 'USW00094746',
 'USW00094815',
 'USW00094822',
 'USW00094823',
 'USW00094830',
 'USW00094846',
 'USW00094847',
 'USW00094850',
 'USW00094860',
 'USW00094908',
 'USW00094910',
 'USW00094929',
 'USW00094949',
 'USW00094950',
 'USW00094973',
 '_',
 '_12',
 '_6',
 '__',
 'city_info']

In [ ]:
city_info