In [18]:
import pandas as pd
import os
import folium

In [19]:
folder = '/home/jibo16/Desktop/Hermes-storeLoc-Map/PrecipMap/Datak/7890488'

filelist = [file for file in os.listdir(folder) if file.endswith('csv')]


for file in filelist:
    '''
    This iteration converts csv's to df's and gives the df the same name as the csv file
    '''
    exec("%s = pd.read_csv('%s',on_bad_lines='skip')" % (file.split('.')[0], os.path.join(folder,file)))

In [20]:
sheets=[]    
for var in dir():
    if isinstance(locals()[var], pd.core.frame.DataFrame):
        sheets.append(var)

In [21]:
for i in sheets:
    if i != 'city_info':
        pd.DataFrame(eval(i))['Unnamed: 0'] = f'{i}'
    else:
        pass

In [22]:
USC00280734

        Unnamed: 0        Date  tmax  tmin  prcp
0      USC00280734  1893-01-01  44.0  21.0  0.00
1      USC00280734  1893-01-02  42.0  25.0  0.00
2      USC00280734  1893-01-03  38.0   NaN  0.00
3      USC00280734  1893-01-04   NaN  10.0  0.00
4      USC00280734  1893-01-05  21.0  12.0  0.56
...            ...         ...   ...   ...   ...
47111  USC00280734  2021-12-27  52.0  24.1  0.00
47112  USC00280734  2021-12-28  36.0  26.1  0.15
47113  USC00280734  2021-12-29  42.1  26.1  0.31
47114  USC00280734  2021-12-30  43.0  27.0  0.05
47115  USC00280734  2021-12-31  46.9  39.0  0.00

[47116 rows x 5 columns]

In [23]:
USC00042863

        Unnamed: 0        Date  tmax  tmin  prcp
0      USC00042863  1894-01-01  60.0  41.0  0.00
1      USC00042863  1894-01-02  58.0  50.0  0.40
2      USC00042863  1894-01-03  57.0  42.0  0.00
3      USC00042863  1894-01-04  53.0  42.0  0.28
4      USC00042863  1894-01-05  50.0  38.0  0.00
...            ...         ...   ...   ...   ...
46746  USC00042863  2021-12-27   NaN   NaN   NaN
46747  USC00042863  2021-12-28   NaN   NaN   NaN
46748  USC00042863  2021-12-29   NaN   NaN   NaN
46749  USC00042863  2021-12-30   NaN   NaN   NaN
46750  USC00042863  2021-12-31   NaN   NaN   NaN

[46751 rows x 5 columns]

In [24]:
%whos

Variable      Type         Data/Info
------------------------------------
USC00042863   DataFrame            Unnamed: 0       <...>n[46751 rows x 5 columns]
USC00166584   DataFrame            Unnamed: 0       <...>n[46751 rows x 5 columns]
USC00280734   DataFrame            Unnamed: 0       <...>n[47116 rows x 5 columns]
USC00286055   DataFrame            Unnamed: 0       <...>n[47116 rows x 5 columns]
USC00356749   DataFrame            Unnamed: 0       <...>n[53691 rows x 5 columns]
USC00380072   DataFrame            Unnamed: 0       <...>n[47116 rows x 5 columns]
USW00003017   DataFrame            Unnamed: 0       <...>n[54787 rows x 5 columns]
USW00003103   DataFrame            Unnamed: 0       <...>n[44925 rows x 5 columns]
USW00003145   DataFrame            Unnamed: 0       <...>n[53326 rows x 5 columns]
USW00003171   DataFrame            Unnamed: 0       <...>n[47116 rows x 5 columns]
USW00003812   DataFrame            Unnamed: 0       <...>n[55517 rows x 5 columns]
USW00003813   DataFrame            Unnamed: 0       <...>n[47116 rows x 5 columns]
USW00003820   DataFrame            Unnamed: 0       <...>n[54787 rows x 5 columns]
USW00003822   DataFrame            Unnamed: 0       <...>n[55152 rows x 5 columns]
USW00003856   DataFrame            Unnamed: 0       <...>n[46386 rows x 5 columns]
USW00003859   DataFrame            Unnamed: 0       <...>n[47482 rows x 5 columns]
USW00003860   DataFrame            Unnamed: 0       <...>n[47482 rows x 5 columns]
USW00003872   DataFrame            Unnamed: 0       <...>n[46751 rows x 5 columns]
USW00003904   DataFrame            Unnamed: 0       <...>n[50769 rows x 5 columns]
USW00003927   DataFrame            Unnamed: 0       <...>n[44925 rows x 5 columns]
USW00003937   DataFrame            Unnamed: 0       <...>n[46386 rows x 5 columns]
USW00003940   DataFrame            Unnamed: 0       <...>n[46021 rows x 5 columns]
USW00003945   DataFrame            Unnamed: 0       <...>n[48212 rows x 5 columns]
USW00003947   DataFrame            Unnamed: 0       <...>n[48577 rows x 5 columns]
USW00003953   DataFrame            Unnamed: 0       <...>n[47847 rows x 5 columns]
USW00003963   DataFrame            Unnamed: 0       <...>n[46386 rows x 5 columns]
USW00003965   DataFrame            Unnamed: 0       <...>n[47116 rows x 5 columns]
USW00004853   DataFrame            Unnamed: 0       <...>n[55152 rows x 5 columns]
USW00012815   DataFrame            Unnamed: 0       <...>n[47482 rows x 5 columns]
USW00012816   DataFrame            Unnamed: 0       <...>n[47847 rows x 5 columns]
USW00012835   DataFrame            Unnamed: 0       <...>n[47482 rows x 5 columns]
USW00012836   DataFrame            Unnamed: 0       <...>n[55152 rows x 5 columns]
USW00012839   DataFrame            Unnamed: 0       <...>n[46021 rows x 5 columns]
USW00012842   DataFrame            Unnamed: 0       <...>n[47847 rows x 5 columns]
USW00012844   DataFrame            Unnamed: 0       <...>n[48577 rows x 5 columns]
USW00012921   DataFrame            Unnamed: 0       <...>n[49673 rows x 5 columns]
USW00012923   DataFrame            Unnamed: 0       <...>n[54787 rows x 5 columns]
USW00012924   DataFrame            Unnamed: 0       <...>n[48943 rows x 5 columns]
USW00012960   DataFrame            Unnamed: 0       <...>n[48577 rows x 5 columns]
USW00013722   DataFrame            Unnamed: 0       <...>n[49308 rows x 5 columns]
USW00013733   DataFrame            Unnamed: 0       <...>n[47116 rows x 5 columns]
USW00013736   DataFrame            Unnamed: 0       <...>n[54421 rows x 5 columns]
USW00013737   DataFrame            Unnamed: 0       <...>n[54056 rows x 5 columns]
USW00013739   DataFrame            Unnamed: 0       <...>n[54787 rows x 5 columns]
USW00013740   DataFrame            Unnamed: 0       <...>n[49308 rows x 5 columns]
USW00013743   DataFrame            Unnamed: 0       <...>n[55152 rows x 5 columns]
USW00013781   DataFrame            Unnamed: 0       <...>n[46751 rows x 5 columns]
USW00013833   DataFrame            Unnamed: 0       <...>n[47116 rows x 5 columns]
USW00013838   DataFrame            Unnamed: 0       <...>n[55152 rows x 5 columns]
USW00013865   DataFrame            Unnamed: 0       <...>n[48212 rows x 5 columns]
USW00013866   DataFrame            Unnamed: 0       <...>n[47116 rows x 5 columns]
USW00013873   DataFrame            Unnamed: 0       <...>n[59900 rows x 5 columns]
USW00013874   DataFrame            Unnamed: 0       <...>n[52230 rows x 5 columns]
USW00013876   DataFrame            Unnamed: 0       <...>n[46021 rows x 5 columns]
USW00013881   DataFrame            Unnamed: 0       <...>n[52230 rows x 5 columns]
USW00013882   DataFrame            Unnamed: 0       <...>n[52230 rows x 5 columns]
USW00013883   DataFrame            Unnamed: 0       <...>n[48943 rows x 5 columns]
USW00013886   DataFrame            Unnamed: 0       <...>n[50038 rows x 5 columns]
USW00013889   DataFrame            Unnamed: 0       <...>n[54787 rows x 5 columns]
USW00013893   DataFrame            Unnamed: 0       <...>n[54787 rows x 5 columns]
USW00013895   DataFrame            Unnamed: 0       <...>n[54421 rows x 5 columns]
USW00013896   DataFrame            Unnamed: 0       <...>n[47116 rows x 5 columns]
USW00013897   DataFrame            Unnamed: 0       <...>n[54787 rows x 5 columns]
USW00013899   DataFrame            Unnamed: 0       <...>n[51865 rows x 5 columns]
USW00013942   DataFrame            Unnamed: 0       <...>n[47116 rows x 5 columns]
USW00013957   DataFrame            Unnamed: 0       <...>n[54787 rows x 5 columns]
USW00013958   DataFrame            Unnamed: 0       <...>n[45290 rows x 5 columns]
USW00013962   DataFrame            Unnamed: 0       <...>n[49673 rows x 5 columns]
USW00013963   DataFrame            Unnamed: 0       <...>n[53326 rows x 5 columns]
USW00013964   DataFrame            Unnamed: 0       <...>n[50769 rows x 5 columns]
USW00013967   DataFrame            Unnamed: 0       <...>n[47847 rows x 5 columns]
USW00013968   DataFrame            Unnamed: 0       <...>n[46751 rows x 5 columns]
USW00013970   DataFrame            Unnamed: 0       <...>n[47116 rows x 5 columns]
USW00013971   DataFrame            Unnamed: 0       <...>n[47482 rows x 5 columns]
USW00013984   DataFrame            Unnamed: 0       <...>n[49673 rows x 5 columns]
USW00013985   DataFrame            Unnamed: 0       <...>n[53691 rows x 5 columns]
USW00013994   DataFrame            Unnamed: 0       <...>n[47116 rows x 5 columns]
USW00013995   DataFrame            Unnamed: 0       <...>n[48943 rows x 5 columns]
USW00013996   DataFrame            Unnamed: 0       <...>n[48943 rows x 5 columns]
USW00014710   DataFrame            Unnamed: 0       <...>n[49673 rows x 5 columns]
USW00014711   DataFrame            Unnamed: 0       <...>n[48577 rows x 5 columns]
USW00014733   DataFrame            Unnamed: 0       <...>n[55152 rows x 5 columns]
USW00014735   DataFrame            Unnamed: 0       <...>n[54056 rows x 5 columns]
USW00014739   DataFrame            Unnamed: 0       <...>n[54787 rows x 5 columns]
USW00014742   DataFrame            Unnamed: 0       <...>n[50404 rows x 5 columns]
USW00014745   DataFrame            Unnamed: 0       <...>n[56248 rows x 5 columns]
USW00014750   DataFrame            Unnamed: 0       <...>n[47116 rows x 5 columns]
USW00014753   DataFrame            Unnamed: 0       <...>n[47116 rows x 5 columns]
USW00014764   DataFrame            Unnamed: 0       <...>n[54787 rows x 5 columns]
USW00014768   DataFrame            Unnamed: 0       <...>n[55152 rows x 5 columns]
USW00014778   DataFrame            Unnamed: 0       <...>n[46021 rows x 5 columns]
USW00014792   DataFrame            Unnamed: 0       <...>n[56978 rows x 5 columns]
USW00014821   DataFrame            Unnamed: 0       <...>n[52230 rows x 5 columns]
USW00014827   DataFrame            Unnamed: 0       <...>n[45290 rows x 5 columns]
USW00014836   DataFrame            Unnamed: 0       <...>n[57709 rows x 5 columns]
USW00014837   DataFrame            Unnamed: 0       <...>n[55882 rows x 5 columns]
USW00014839   DataFrame            Unnamed: 0       <...>n[55152 rows x 5 columns]
USW00014840   DataFrame            Unnamed: 0       <...>n[45655 rows x 5 columns]
USW00014842   DataFrame            Unnamed: 0       <...>n[50769 rows x 5 columns]
USW00014845   DataFrame            Unnamed: 0       <...>n[45290 rows x 5 columns]
USW00014847   DataFrame            Unnamed: 0       <...>n[48577 rows x 5 columns]
USW00014848   DataFrame            Unnamed: 0       <...>n[46751 rows x 5 columns]
USW00014860   DataFrame            Unnamed: 0       <...>n[54056 rows x 5 columns]
USW00014894   DataFrame            Unnamed: 0       <...>n[52230 rows x 5 columns]
USW00014895   DataFrame            Unnamed: 0       <...>n[48943 rows x 5 columns]
USW00014897   DataFrame            Unnamed: 0       <...>n[46021 rows x 5 columns]
USW00014898   DataFrame            Unnamed: 0       <...>n[45655 rows x 5 columns]
USW00014913   DataFrame            Unnamed: 0       <...>n[54787 rows x 5 columns]
USW00014914   DataFrame            Unnamed: 0       <...>n[51499 rows x 5 columns]
USW00014916   DataFrame            Unnamed: 0       <...>n[47116 rows x 5 columns]
USW00014918   DataFrame            Unnamed: 0       <...>n[46021 rows x 5 columns]
USW00014920   DataFrame            Unnamed: 0       <...>n[54421 rows x 5 columns]
USW00014922   DataFrame            Unnamed: 0       <...>n[55152 rows x 5 columns]
USW00014923   DataFrame            Unnamed: 0       <...>n[54787 rows x 5 columns]
USW00014925   DataFrame            Unnamed: 0       <...>n[49308 rows x 5 columns]
USW00014926   DataFrame            Unnamed: 0       <...>n[46751 rows x 5 columns]
USW00014929   DataFrame            Unnamed: 0       <...>n[47116 rows x 5 columns]
USW00014933   DataFrame            Unnamed: 0       <...>n[52230 rows x 5 columns]
USW00014935   DataFrame            Unnamed: 0       <...>n[46021 rows x 5 columns]
USW00014936   DataFrame            Unnamed: 0       <...>n[51134 rows x 5 columns]
USW00014939   DataFrame            Unnamed: 0       <...>n[49308 rows x 5 columns]
USW00014941   DataFrame            Unnamed: 0       <...>n[46751 rows x 5 columns]
USW00014942   DataFrame            Unnamed: 0       <...>n[55152 rows x 5 columns]
USW00014943   DataFrame            Unnamed: 0       <...>n[48212 rows x 5 columns]
USW00014944   DataFrame            Unnamed: 0       <...>n[47116 rows x 5 columns]
USW00014972   DataFrame            Unnamed: 0       <...>n[46021 rows x 5 columns]
USW00014990   DataFrame            Unnamed: 0       <...>n[47116 rows x 5 columns]
USW00014991   DataFrame            Unnamed: 0       <...>n[47116 rows x 5 columns]
USW00023009   DataFrame            Unnamed: 0       <...>n[47116 rows x 5 columns]
USW00023044   DataFrame            Unnamed: 0       <...>n[52230 rows x 5 columns]
USW00023047   DataFrame            Unnamed: 0       <...>n[47482 rows x 5 columns]
USW00023050   DataFrame            Unnamed: 0       <...>n[47482 rows x 5 columns]
USW00023051   DataFrame            Unnamed: 0       <...>n[45655 rows x 5 columns]
USW00023065   DataFrame            Unnamed: 0       <...>n[46021 rows x 5 columns]
USW00023066   DataFrame            Unnamed: 0       <...>n[47116 rows x 5 columns]
USW00023154   DataFrame            Unnamed: 0       <...>n[48577 rows x 5 columns]
USW00023155   DataFrame            Unnamed: 0       <...>n[47116 rows x 5 columns]
USW00023160   DataFrame            Unnamed: 0       <...>n[46386 rows x 5 columns]
USW00023179   DataFrame            Unnamed: 0       <...>n[48577 rows x 5 columns]
USW00023183   DataFrame            Unnamed: 0       <...>n[46021 rows x 5 columns]
USW00023185   DataFrame            Unnamed: 0       <...>n[47116 rows x 5 columns]
USW00023188   DataFrame            Unnamed: 0       <...>n[62457 rows x 5 columns]
USW00023271   DataFrame            Unnamed: 0       <...>n[52595 rows x 5 columns]
USW00023275   DataFrame            Unnamed: 0       <...>n[47116 rows x 5 columns]
USW00024011   DataFrame            Unnamed: 0       <...>n[53691 rows x 5 columns]
USW00024018   DataFrame            Unnamed: 0       <...>n[55152 rows x 5 columns]
USW00024021   DataFrame            Unnamed: 0       <...>n[47482 rows x 5 columns]
USW00024023   DataFrame            Unnamed: 0       <...>n[53691 rows x 5 columns]
USW00024028   DataFrame            Unnamed: 0       <...>n[47116 rows x 5 columns]
USW00024032   DataFrame            Unnamed: 0       <...>n[48212 rows x 5 columns]
USW00024121   DataFrame            Unnamed: 0       <...>n[48577 rows x 5 columns]
USW00024127   DataFrame            Unnamed: 0       <...>n[53691 rows x 5 columns]
USW00024128   DataFrame            Unnamed: 0       <...>n[52595 rows x 5 columns]
USW00024131   DataFrame            Unnamed: 0       <...>n[53691 rows x 5 columns]
USW00024143   DataFrame            Unnamed: 0       <...>n[47482 rows x 5 columns]
USW00024144   DataFrame            Unnamed: 0       <...>n[51499 rows x 5 columns]
USW00024149   DataFrame            Unnamed: 0       <...>n[51134 rows x 5 columns]
USW00024153   DataFrame            Unnamed: 0       <...>n[46751 rows x 5 columns]
USW00024155   DataFrame            Unnamed: 0       <...>n[47116 rows x 5 columns]
USW00024157   DataFrame            Unnamed: 0       <...>n[51134 rows x 5 columns]
USW00024163   DataFrame            Unnamed: 0       <...>n[46386 rows x 5 columns]
USW00024213   DataFrame            Unnamed: 0       <...>n[49308 rows x 5 columns]

USW00024221   DataFrame            Unnamed: 0       <...>n[47116 rows x 5 columns]
USW00024232   DataFrame            Unnamed: 0       <...>n[47116 rows x 5 columns]
USW00024233   DataFrame            Unnamed: 0       <...>n[46751 rows x 5 columns]
USW00024257   DataFrame            Unnamed: 0       <...>n[47116 rows x 5 columns]
USW00024286   DataFrame            Unnamed: 0       <...>n[46386 rows x 5 columns]
USW00053920   DataFrame            Unnamed: 0       <...>n[47116 rows x 5 columns]
USW00093037   DataFrame            Unnamed: 0       <...>n[46386 rows x 5 columns]
USW00093058   DataFrame            Unnamed: 0       <...>n[48577 rows x 5 columns]
USW00093134   DataFrame            Unnamed: 0       <...>n[52595 rows x 5 columns]
USW00093193   DataFrame            Unnamed: 0       <...>n[51134 rows x 5 columns]
USW00093721   DataFrame            Unnamed: 0       <...>n[55152 rows x 5 columns]
USW00093729   DataFrame            Unnamed: 0       <...>n[47116 rows x 5 columns]
USW00093805   DataFrame            Unnamed: 0       <...>n[47116 rows x 5 columns]
USW00093812   DataFrame            Unnamed: 0       <...>n[55152 rows x 5 columns]
USW00093815   DataFrame            Unnamed: 0       <...>n[46751 rows x 5 columns]
USW00093817   DataFrame            Unnamed: 0       <...>n[45655 rows x 5 columns]
USW00093819   DataFrame            Unnamed: 0       <...>n[54787 rows x 5 columns]
USW00093820   DataFrame            Unnamed: 0       <...>n[54421 rows x 5 columns]
USW00093821   DataFrame            Unnamed: 0       <...>n[54421 rows x 5 columns]
USW00093822   DataFrame            Unnamed: 0       <...>n[51865 rows x 5 columns]
USW00093824   DataFrame            Unnamed: 0       <...>n[46021 rows x 5 columns]
USW00093842   DataFrame            Unnamed: 0       <...>n[47482 rows x 5 columns]
USW00093874   DataFrame            Unnamed: 0       <...>n[46751 rows x 5 columns]
USW00093988   DataFrame            Unnamed: 0       <...>n[50038 rows x 5 columns]
USW00094008   DataFrame            Unnamed: 0       <...>n[46751 rows x 5 columns]
USW00094012   DataFrame            Unnamed: 0       <...>n[51865 rows x 5 columns]
USW00094014   DataFrame            Unnamed: 0       <...>n[46751 rows x 5 columns]
USW00094040   DataFrame            Unnamed: 0       <...>n[46386 rows x 5 columns]
USW00094129   DataFrame            Unnamed: 0       <...>n[47116 rows x 5 columns]
USW00094224   DataFrame            Unnamed: 0       <...>n[47116 rows x 5 columns]
USW00094236   DataFrame            Unnamed: 0       <...>n[45290 rows x 5 columns]
USW00094298   DataFrame            Unnamed: 0       <...>n[60631 rows x 5 columns]
USW00094728   DataFrame            Unnamed: 0       <...>n[55882 rows x 5 columns]
USW00094746   DataFrame            Unnamed: 0       <...>n[47482 rows x 5 columns]
USW00094815   DataFrame            Unnamed: 0       <...>n[48943 rows x 5 columns]
USW00094822   DataFrame            Unnamed: 0       <...>n[47116 rows x 5 columns]
USW00094823   DataFrame            Unnamed: 0       <...>n[55152 rows x 5 columns]
USW00094830   DataFrame            Unnamed: 0       <...>n[55152 rows x 5 columns]
USW00094846   DataFrame            Unnamed: 0       <...>n[55152 rows x 5 columns]
USW00094847   DataFrame            Unnamed: 0       <...>n[54056 rows x 5 columns]
USW00094850   DataFrame            Unnamed: 0       <...>n[54787 rows x 5 columns]
USW00094860   DataFrame            Unnamed: 0       <...>n[47116 rows x 5 columns]
USW00094908   DataFrame            Unnamed: 0       <...>n[54056 rows x 5 columns]
USW00094910   DataFrame            Unnamed: 0       <...>n[46386 rows x 5 columns]
USW00094929   DataFrame            Unnamed: 0       <...>n[46751 rows x 5 columns]
USW00094949   DataFrame            Unnamed: 0       <...>n[46386 rows x 5 columns]
USW00094950   DataFrame            Unnamed: 0       <...>n[47116 rows x 5 columns]
USW00094973   DataFrame            Unnamed: 0       <...>n[46751 rows x 5 columns]
city_info     DataFrame         Unnamed: 0        Na<...>n\n[461 rows x 8 columns]
file          str          USC00042863.csv
filelist      list         n=211
folder        str          /home/jibo16/Desktop/Herm<...>p/PrecipMap/Datak/7890488
folium        module       <module 'folium' from '/h<...>ages/folium/__init__.py'>
i             str          city_info
lat           Series       0      42.8153\n2      41<...>ngth: 210, dtype: float64
lon           Series       0     -108.7261\n2     -1<...>ngth: 210, dtype: float64
os            module       <module 'os' from '/usr/lib/python3.9/os.py'>
pd            module       <module 'pandas' from '/h<...>ages/pandas/__init__.py'>
sheets        list         n=216
var           str          var

In [27]:
city_info['ID'] = city_info['ID'].drop_duplicates(inplace=False).reset_index(drop=True)

In [28]:
city_info = city_info.dropna()
city_info

,Unnamed: 0,Name,ID,Lat,Lon,Stn.Name,Stn.stDate,Stn.edDate
0,1,Lander,USW00024021,42.8153,-108.7261,LANDER WBO,1892-01-01,1946-05-28
1,2,Lander,USW00024018,42.8153,-108.7261,LANDER HUNT FIELD,1946-05-29,2021-12-31
2,3,Cheyenne,USW00014897,41.1519,-104.8061,CHEYENNE WBO,1871-01-01,1935-08-31
3,4,Cheyenne,USW00094973,41.1519,-104.8061,CHEYENNE MUNICIPAL ARPT,1935-09-01,2021-12-31
4,5,Wausau,USW00014991,44.9258,-89.6256,Wausau Record Herald,1896-01-01,1941-12-31
...,...,...,...,...,...,...,...,...
205,206,Lincoln,USW00013896,40.8508,-96.7475,LINCOLN MUNICIPAL ARPT,1948-01-01,1954-06-30
206,207,Lincoln,USW00013895,40.8508,-96.7475,LINCOLN UNIV CAMPUS,1954-07-01,1955-08-31
207,208,Lincoln,USW00013838,40.8508,-96.7475,LINCOLN WB CITY,1955-09-01,1972-08-31
208,209,Lincoln,USW00003856,40.8508,-96.7475,LINCOLN MUNICIPAL ARPT,1972-09-01,2021-12-31
209,210,GrandIsland,USW00013876,40.9611,-98.3136,GRAND ISLAND,1896-01-01,1919-07-31

In [41]:
l = []
for i in sheets:
    if i.startswith('US'):
        l.append(i)
        
len(l)

210